numpy==1.17.3
docutils==0.15
jinja2==2.10.1
werkzeug==0.16.1
autopep8==1.4.4
bokeh==1.4.0
dask==2.9.1
fasttext==0.9.1
Flask==1.1.1
gensim==3.8.1
jieba==0.39
jupyter==1.0.0
Keras==2.3.1
lightgbm==2.3.0
matplotlib==3.1.1
nltk==3.4.5
pandas==0.24.2
pyspark==2.4.4
seaborn==0.9.0
tensorflow==2.6.4
watchdog==0.9.0
xgboost==0.90
xlrd==1.2.0
PyMySQL==0.9.3
hydra-core==0.11.3
scikit-learn==0.21.2
scipy==1.4.1
secure-smtplib==0.1.1
apache-airflow==1.10.9
dask==2.9.1
jupyterlab
